@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');
// Var
$very-dark-gray: hsl(0,
0%,
17%);
$dark-gray: hsl(0,
0%,
59%);
// ## Typography
// ### Body Copy
$font-size-text-input: 18px;
$border-radius: 10px;
// Var
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
}

header {
    height: 260px;
    background-image: url('../images/pattern-bg.png');
}

.search {
    padding: 20px;
    width: 100%;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    h1 {
        margin-bottom: 20px;
        color: #fff;
        text-align: center;
        text-transform: capitalize;
        font-size: 1.5em;
        font-weight: 500;
    }
    .search-box {
        padding: 15px;
        display: flex;
        border-radius: $border-radius;
        background-color: #fff;
        position: relative;
        input {
            background-color: transparent;
            border: none;
            flex-grow: 1;
            font-size: 1em;
        }
        input:focus {
            outline: none;
        }
        .arrow {
            width: 45px;
            height: 100%;
            border-radius: 0 $border-radius $border-radius 0;
            cursor: pointer;
            background-color: black;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            right: 0;
            top: 0;
            img {
                height: 10px;
            }
        }
    }
    .search-resultes {
        padding-top: 15px;
        background-color: #fff;
        text-align: center;
        margin-top: 20px;
        border-radius: $border-radius;
        box-shadow: 0 0 10px $very-dark-gray;
        &>div {
            padding-bottom: 15px;
            span {
                display: inline-block;
                text-transform: uppercase;
                font-weight: bold;
                color: $dark-gray;
                font-size: .7em;
                margin-bottom: 8px;
            }
        }
    }
}